body{

width: 1800px;
height: 4271px;

background: #FFFFFF;
}
.container-info{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.btn{
 width: 228px;
height: 63px;
background: #5474FD;
color: #FFFFFF;
}

.btn:hover{
 background: #283a8c;
}

/*Section 1 content*/
.section1{

 height: 100vh;
 color: #FFFFFF;

}

.scrolldown{
  display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
margin-top: 80px;
}

.container-info-footer{
 color: #FFFFFF;
 display: flex;
 justify-content: space-between;
 width: 100%;
 height: 80px;
 background: #5474FD;
 flex-direction: row;
 align-items: center;
 font-family: 'Aleo';
 padding: 0px;

}

.navbar__menu a{
 text-decoration: none;
 list-style: none;
 color: #FFFFFF;
 font-style: normal;
font-weight: 200;
font-size: 12px;
line-height: 30px;
padding: ;
}

.container-text{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-family: 'Josefin Sans';
 font-style: normal;
}

.container-text h1{
font-weight: 700;
font-size: 48px;
line-height: 26px;
justify-content: space-around;
letter-spacing: 5px;
text-transform: uppercase;
}

.container-text h6{
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
letter-spacing: 6.82px;
}

input {
width: 500px;
height: 60px;
background: #FFFFFF;
align-items: center;
text-align: center;
letter-spacing: 2.8px;
border: 1px solid #FFFFFF;
color: #999999;
}

button {
box-sizing: border-box;
width: 153px;
height: 63px;
left: 500px;
top: 0px;
background: #5474FD;
border: 2px solid #FFFFFF;
color: #FFFFFF;
letter-spacing: 6px;
}

.button:hover{
 background: #2d3c7d;
}




/*Section 2 content*/
.part2{
 display: flex;
 justify-content: center;
 align-items:center;
 flex-direction: row;  
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh; 
 color: #E8E8E8;

}

.part2-images{
 display: flex;
 justify-content: center;
 align-items:center;
 flex-direction: column; 
 gap: 10px;
}

.img2{
 margin-left: 80px;
}

.part2-footer {
 text-decoration: none;
}

.info2 p {
 width: 560px;
height: 158px;
 font-family: 'Josefin Sans';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 26px;
letter-spacing: 1.6px;
}

.part2-footer{
 width: 100%;
height: 340px;
background: #333333;
}
.container-box{
box-sizing: border-box;
position: absolute;
width: 777px;
height: 99px;
left: 498px;
top: 46px;
background: rgba(0, 0, 0, 0.0001);
mix-blend-mode: normal;
opacity: 0.5;
border: 1px solid #FFFFFF;
}

.fas.fa-search {
 color: #5474FD;
}

.far.fa-check-circle{
color: rgb(231, 87, 87);
}

.far.fa-thumbs-up{
 color: #00A2FF;  
}

.fas.fa-search,
.far.fa-check-circle,
.far.fa-thumbs-up {
 font-size: 40px;
 width: 200px;
 height: 61px;  

}

.part2-footer p{
 width: 230px;
 height: 26px;
 font-family: 'Aleo';
 font-style: normal;
 font-weight: 400;
 font-size: 36px;
 line-height: 26px;
 color: #E8E8E8;
 text-decoration: none;
}

.border{
 width: 250px;
height: 90px;
opacity: 0.5;
border-top: 1px solid #FFFFFF;
border-top-left-radius: 50%;
border-top-right-radius: 50%;
}
.part2-icons{
 display: flex;
 justify-content: space-evenly;
 align-items:center;
 flex-direction: row;
 text-align: center; 
}
.borders{
 display: flex;
 justify-content: space-evenly;
 align-items:center;
 flex-direction: row;  
 text-align: center;
}

/*Section 2 content*/



/*Section 3 content*/
.section3{
 background-repeat: no-repeat;
 height: 700px;
}

.section3-box, .section4-box{
 color: #FFFFFF;
width: 540px;
height: 371px;
background: #232323;
mix-blend-mode: normal;
opacity: 0.9;
display: flex;
   flex-direction: column;
}

.section3-box p{
 width: 508px;
height: 78px;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
}
/*Section 3 content*/



/*Section 4 content*/
.section4{
 background-repeat: no-repeat;
 height: 700px;
 color: #FFFFFF;
}
/*Section 4 content*/




/*section 5 content*/
.section5{
 background-repeat: no-repeat;
 width: 100%;
 height: 731px;
 color: #FFFFFF;
}

.section5-content{
 display: flex;
 justify-items: center;
 flex-direction: row;
}

.section5-content p{
 font-family: 'Josefin Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
letter-spacing: 1.6px;
}
.fas.fa-quote-left{
 font-size: 36px;
 color: #5474FD;
}
.section5-content img{
 max-width: 445px;
height: 284px;
}

.section5-content-text{
 max-width: 668px;
height: 287px;
background: #333333;
}

.section5-footer{
 width: 100%;
 height: 271px;
 background: #232323;
 display: flex;
 align-items: center;
 text-align: center;
 flex-direction: column;
 color: white;
}

.section5-footer h3{

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 26px;
letter-spacing: 3.36px;
text-transform: uppercase;
}

.section5-footer h6{
 font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 1.6px;
}

.section5-socials{
 display: flex;
 justify-content: center;
 flex-direction: row;
 font-size: 16px;
 width: 166px;
 height: 16px;
}    

.section5-socials i{
 color: #FFFFFF;
}

.fab.fa-linkedin-in{
 color: #5474FD;
}
/*section 5 content*/
